@charset "utf-8";

*{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body, html {
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:320px;
	max-width: 1024px;
}
 
body {
	margin:0;
	padding:0;
	font-size: 100%;
	line-height:1;
	color:#666666;
	font-family: '맑은 고딕', 'Malgun Gothic', Dotum, sans-serif;
	-webkit-text-size-adjust:none;
	-webkit-overflow-scrolling: touch;
	word-wrap:break-word;
	word-break:break-all;
}
h1, h2, h3, h4, h5, h6, input, button, textarea, select {
	font-family: '맑은 고딕', 'Malgun Gothic', Dotum, sans-serif;
}

section, article, aside, footer, figure, figcaption, nav {
	display:block;
	margin:0;
	padding:0;
}
img {
	border:0 none;
	vertical-align:top;
	/* width:100%; */
}
strong {
	font-weight:600;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	font-size:1em;
}
address, em, cite {
	font-style:normal;
}
p, blockquote {
	margin:0;
}
hr {
	display:none;
}
mark {
	background:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption {
	padding:0;
	width:0;
	height:0;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
}
th, td {
	padding:0;
	vertical-align:top;
	text-align:left;
	font-weight:normal;
}
dd, dl, ol, ul, form {
	margin:0;
	padding:0;
}
ul {
	list-style-type:none;
}
form {
	margin:0;
	padding:0;
}
fieldset {
	margin:0;
	padding:0;
	border:none;
}
legend {
	position:absolute;
	top:-50px;
	left:-50px;
	width:0;
	height:0;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	padding:0;
}
input, select {
	font-size:14px;
	line-height:1;
	vertical-align:top;
	padding:0;
	margin:0;
	color:#666;
}

textarea, input {
	-webkit-appearance: none;
    border-radius: 0;
}

textarea {
	font-size:1em;
	vertical-align:top;
	padding:0.875em;
	margin:0;
	color:#666;
}
label, button {
	cursor:pointer;
}
button {
	overflow:visible;
	margin:0;
	padding:0;
	border:none;
	background:none;
	vertical-align:top;
	cursor:pointer;
}
button::-moz-focus-inner {
	border:0;
	padding:0;
}
a {
	text-decoration:none;
	cursor:pointer;
}
a:link {color:#666666;}
a:visited {color:#666666;}
a:hover {color:#333333; text-decoration:none;}
a:active {color:#666666;}

.hidden {display:none;}
.hd { position:absolute !important;	left:-9000px !important;}
.text-c { text-align:center;}

/* clearfix */
.cf { zoom: 1;}
.cf:before, .cf:after { content: ""; display: table;}
.cf:after { clear: both; }

ul{ zoom: 1;}
ul:before, ul:after { content: ""; display: table;}
ul:after { clear: both; } 

